= simple_form_for(@entry) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :tag_string
    = f.input :body, as: :text, input_html: {rows: 20}

  .form-actions
    = f.button :submit
