%h1= @entry.title

- if user_signed_in?
  - if Entry.stocking?(current_user, @entry)
    = link_to unstock_entry_path(@entry), method: :post do
      %button.btn.btn-danger ストック解除
  - else
    = link_to stock_entry_path(@entry), method: :post do
      %button.btn.btn-success ストック

%p
  %b User:
  = @entry.user
%p
  %b Title:
  = @entry.title
%p
  %b Body:
  = Entry.render_markdown(@entry.body).html_safe

= link_to 'Edit', edit_entry_path(@entry)
\|
= link_to 'Back', entries_path

%h2 コメント

= link_to 'コメントする', new_entry_comment_path(@entry)

%ul
  - @entry.comments.each do |comment|
    %li
      = comment.user.name
      = comment.body
      - if user_signed_in? && comment.user == current_user
        = link_to '編集', edit_entry_comment_path(@entry, comment)
        = link_to '削除', entry_comment_path(@entry, comment), method: :delete, data: { confirm: '削除しますか？' }
