%h1= @entry.title

%br

- if user_signed_in?
  - if current_user == @entry.user
    = link_to edit_entry_path(@entry) do
      %button.btn.btn-xs 編集
    = link_to @entry, :method => :delete, :data => { :confirm => '削除しますか？' } do
      %button.btn.btn-xs 削除
  - else
    - if Entry.stocking?(current_user, @entry)
      = link_to unstock_entry_path(@entry), method: :post do
        %button.btn.btn-default.btn-xs ストック解除
    - else
      = link_to stock_entry_path(@entry), method: :post do
        %button.btn.btn-success.btn-xs ストック
    = link_to entry_edit_requests_path(@entry) do
      %button.btn.btn-default.btn-xs 編集リクエスト一覧
    = link_to new_entry_edit_request_path(@entry) do
      %button.btn.btn-default.btn-xs 編集リクエストを作成する

%h3 タグ
- @entry.tags.each do |tag|
  = render 'tags/tag_link', tag: tag

%h3 本文
= Entry.render_markdown(@entry.body).html_safe

%h3 コメント

= link_to new_entry_comment_path(@entry) do
  %button.btn.btn-default コメントする

%table.table.table-striped
  %tbody
    - @entry.comments.each do |comment|
      = render 'comments/comment_row', comment: comment, show_owner: true
