%h1= @user.name

= render 'users/follow_button', user: @user

%h2= link_to "フォロー中のタグ", tags_user_path(@user)
- @user.tags.each do |tag|
  = render 'tags/tag_link', tag: tag

%h2= link_to "フォロー中のユーザー", followers_user_path(@user)
- @user.followers.each do |follower|
  = link_to follower.name, user_path(follower)

%h2= link_to "フォロワー", followees_user_path(@user)
- @user.followees.each do |followee|
  = link_to followee.name, user_path(followee)

%h2= link_to '最近の投稿', entries_user_path(@user)
%table.table.table-striped
  %tbody
    - @user.entries.each do |entry|
      = render 'entries/entry_row', entry: entry

%h2= link_to 'ストックした投稿', stocks_user_path(@user)
%table.table.table-striped
  %tbody
    - @user.stock_entries.each do |entry|
      = render 'entries/entry_row', entry: entry

%h2= link_to 'コメント', comments_user_path(@user)
%table.table.table-striped
  %tbody
    - @user.comments.each do |comment|
      = render 'comments/comment_row', comment: comment

