= simple_form_for([@entry, @edit_request]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :body, as: :text, input_html: {rows: 20}

  .form-actions
    = f.button :submit
