%h1
  = link_to @entry.title, entry_path(@entry)
  への編集リクエストの適用

%h3= @edit_request.title

= form_tag update_apply_entry_edit_request_path(@entry, @edit_request), class:"simple_form", role:"form" do
  .form-inputs
    .form-group.text
      = text_area_tag :body, @body, id: 'entry_body', rows: 20, class: "text form-control"
  .form-actions
    %button.btn.btn-default{type:"submit"} 適用する

%br
%br

.panel.panel-default
  .panel-heading
    %h4
      プレビュー
      .btn-group.pull-right
        %button.btn.btn-primary{type:'button', id:'preview-button'} 更新
      = form_tag preview_entries_path, id: 'preview-form', remote: true do
        = hidden_field_tag 'body', '', id: 'preview-body'
  .panel-body
    #preview
