%p
  %b User:
  = @edit_request.user
%p
  %b Entry:
  = @edit_request.entry
%p
  %b Body:
  = @edit_request.body
%p
  %b Old body:
  = @edit_request.old_body

= link_to 'Show', entry_edit_request_path(@entry, @edit_request)
\|
= link_to 'Back', entry_edit_requests_path(@entry)
